<a href="https://colab.research.google.com/github/adong-hood/cs200/blob/main/assignment2_python_review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Review

###The learning goals for this week:
<ul>
<li>Create google colabs</li>
<li>Mound google drive</li>
<li>Python review, CS 100 level</li>
<li>Map, lambda functions, and list comprehension</li>
</ul>

The very first thing, let's demo how to mount your google drive.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Variables, Numeric Data Types, Booleans, and Strings
<p>Python variables can seamlessly change from being one type to another.</p>

In [ ]:
my_var = 3
print(type(my_var))
my_var = "foo"
print(type(my_var))
my_var = len  # Even a function!
print(type(my_var))

Strings can be represented with single or double quotes. Triple quotes make it easy to define multi-line strings:

In [ ]:
my_var = 'foo\nbar'   # \n means newline
print("1:", my_var)
my_var = "foo\nbar"
print("2:", my_var)
my_var = """foo
bar"""
print("3:", my_var)

Python can convert variable from one type to another:

In [ ]:
my_string = str(123)
my_int = int(my_string)
almost_pi = float("3.14159")

Remember that you can import useful modules that add functionality to Python. For example:

In [ ]:
import random
random.randrange(20, 30)

Re-run the above cell to see that it produces different outputs.

## For Loops, Conditional, Lists, Ranges



For-loops can be used to iterate numerical values like in other programming languages with the range function:

In [ ]:
for i in range(0, 10):
    print(i)

But can also be used to visit every item in a list.

In [ ]:
for color in ["red", "green", "blue"]:
    print(color)

Remember that the contents of the for-loop have to be indented at the same level to differentiate them from code outside the for-loop:

In [ ]:
for i in range(3):
    print("repeated")
    print("also repeated")
print("not repeated")

Getting back to lists, they are a basic type in Python and they can contain a mix of different types:

In [ ]:
my_list = ["string", 1, [2.0, 4.5], 5.6]  # Don't do that
my_list = []                              # An empty list
my_list = [3, 4, 6, 2, 45, 23, 12, 34]    # That's better

Lists are mutable so you can overwrite arbitrary values:

In [ ]:
my_list[2] = 64
my_list

Remember that indexes start at 0:

In [ ]:
my_list[0]

And you use negative indexes to refer to values starting from the end of the list.

In [ ]:
my_list[-2]


You can also use slices to rapidly grab portion of the list. For example to get the first 2 values:

In [ ]:
my_list[0:2]

You can also perform a variety of operations on lists:

In [ ]:
print(len(my_list))
print(min(my_list))
print(max(my_list))
print(sum(my_list))
print(my_list * 2)
my_list.append(146)    # Changes my_list
other_list = my_list + [1, 2, 3]   # Doesn't change my_list, need to store returned value
print(other_list)

Some of these operations work on strings too:

In [ ]:
my_var = "Abc defg hij"
print(len(my_var))
print(max(my_var))        # Why would you do that?
# sum(my_var)      # This doesn't work
# my_var[1] = 'v'  # Nor this
print(my_var[2:6])
print(my_var * 2)

Strings also have special abilities:

In [ ]:
print(my_var.lower())
print(my_var.upper())
print(my_var.title())
print(my_var.startswith("Abc"))
print(my_var.endswith("xyz"))
list_of_string = my_var.split(" ")
new_string = "#$#".join(list_of_string)
print(new_string)

Use double-equals (==) to test for equality:

In [ ]:
if sum(my_list) == 333:
    print("It's 333 exactly!")
else:
    print("It's some other value")

But you can test for a lot of different relations:

In [ ]:
if my_list[0] > 20 and my_list[1] <= 14 or my_list[2] != 5 and 4 in my_list and 65 not in my_list:
    print("Weird condition")

So to add up all the odd numbers in `my_list`:

In [ ]:
total = 0
for val in my_list:
    if val % 2 == 1:
        total += val
total

## Dictionary

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values. Dictionaries can be created in a variety of ways:

In [ ]:
my_dict = {}   # Empty dict
my_dict = {'foo': 'bar', 'baz': 'bak'}
print(my_dict)
# This one is handy if you have a list of pairs to turn into a dictionary:
your_dict = dict([['foo', 'bar'], ['baz', 'bak']])
print(your_dict)

`'foo'` and `'baz'` are called keys, `'bar'` and `'bak'` are called values. You can access values in the dictionary with its key:

In [ ]:
my_dict['foo']

And you can add new values (or overwrite old ones) by key as well:

In [ ]:
my_dict['hello'] = 'world'
my_dict['hello'] = 'goodbye'

You can iterate over a dictionary using a for-loop:

In [ ]:
for key in my_dict:
    print("The key", key, "maps to the value", my_dict[key])

In [ ]:
list(my_dict.keys())

In [ ]:
list(my_dict.values())

In [ ]:
del my_dict['hello']
my_dict

##Functions and Map

You can define your own functions using the `def` keyword and `return` to specify the value that is returned by the function.

In [ ]:
def double_plus_y(x, y=4):
    return 2 * x + y

double_plus_y(6, 9)

21

But functions don't have to take parameters (`x` and `y` in the example above) or return anything:

In [ ]:
def say_hi():
    print("Just saying 'hello'.")

say_hi()

Another function has default parameters.

In [ ]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [ ]:
my_function(5, 6, z=0.7)
my_function(3.14, 7, 3.5)
my_function(10, 20)

Functions can return multiple values.

In [ ]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()

In [ ]:
return_value = f()
return_value

The map function allows us to call a function on each item in a list:

In [ ]:
for value in map(double_plus_y, my_list):
    print(value)

For simple, one-time-use function, we don't have to define a function, we can use lambda to define the operation in-line:

In [ ]:
for value in map(lambda x: 2 * x, my_list):  # Don't need a separate function
    print(value)

Note that lambda functions don't use the `return` keyword, you just specify the names of the parameters of the function (`x` in the example above), a colon, and the operation to perform on the parameter(s).

## More on List Sorting, Slicing, and List Comprehension

Sorting a list with different order property.

In [ ]:
a = [7, 2, 5, 1, 3]
a.sort() # in-place sort
a

In [ ]:
b = ['six', 'small', 'He', 'foxes', 'saw']
b.sort(key=len)
b

['He', 'six', 'saw', 'small', 'foxes']

Slicing a list in various ways by specifying indexes.

In [ ]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

In [ ]:
seq[0:4] = [9, 9] # insert new elements to replace current elements in A range
print(seq)
print(seq[:5])
print(seq[2:])
print(seq[-4:])# counting from end
print(seq[-6:-2])
seq[::2] # slicing by the step of 2
seq[::-1] # slicing by the step of 1, reverse

Use [list comprehension](https://www.pythonforbeginners.com/basics/list-comprehensions-in-python) to perform an operation on every item in the list. It looks a little bit like a for-loop inside of a list:

In [ ]:
[x*2 for x in my_list]

You can also use it to filter out values from a list. For example to extract every odd values from the list:

In [ ]:
[x for x in my_list if x % 2 == 1]

You can even combine filtering and other operations:

In [ ]:
[x**2 for x in my_list if x<10]   # Square every value less than 10

Let's see a few more complex examples for list comprehensions. To do so, we're going to be using a list of city and state names. Fun fact: these are all [real cities](https://en.wikipedia.org/wiki/List_of_the_most_common_U.S._place_names) in the US but with a more famous namesake in a different state.

In [ ]:
cities = ['washington,ct', 'springfield,or', 'riverside,tx', 'franklin,vt', 'lebanon,co', 'dayton,tx', 'las vegas,nm', 'madison,ca', 'georgetown,ct', 'los angeles,tx']

**Use list comprehension to produce a list of only the cities whose name (including the state name) are less than 12 characters long.**

**Create a list of abbreviations that are just the first 3 letters of each city name:**

**Use list comprehension, to create a dictionary that maps city names to the states that they are located in.**

In [ ]:
city_lst = [city.split(',')[0] for city in cities]
print(city_lst)
st_lst = [city.split(',')[1] for city in cities]
print(st_lst)
city_dict = dict(zip(city_lst, st_lst))
city_dict

**For a more challenging list comprehension, write a single list comprehension that produces the [title-cased](https://en.wikipedia.org/wiki/Letter_case#Title_Case) version of just the city names of the cities in Texas (that means that the states should not be the resulting list).**

## Read a file from your Google Drive
The file path depends on your google drive folder structure.

To read a file, we use the `open` function. Using `with` avoids having to remember to close the file.

In [ ]:
with open('/content/drive/MyDrive/cs200/travel.txt', 'r') as md:
    for line in md:
        #pass or do something with each line
        print(line.strip())

## Exercises
Now it is your turn for some hands-on.

1. (Type Conversion and Strings) <p>Given the list below, create a new list where every element is converted to a string and concatenated with the string "_cs". </p>
<code>values = [10, 3.5, True, 42]</code>

2.  (List Slicing) <br>
Extract the last 5 elements using slicing. <br>
Extract every third element starting from index 1.
```
my_list = list(range(10))
```

3. <p>(Conditionals and Lists)
Using my_list from earlier in the notebook, create a list that contains only the values that are divisible by 4. <font color = 'red'> Do not use loops.</p>

4. <p>(Map and Lambda)
Use map and a lambda function to create a new list that adds 10 to every value in my_list.</p>

5. <p>(Functions)
Write a function called <code>safe_divide(x, y)</code> that:<br>
Returns <code>x / y</code> if <code>y</code> is not zero<br>
Returns the string <code>"undefined"</code> if <code>y</code> is zero<br>
Test your function with at least three different inputs.
</p>

6. <p>(Dictionary Practice) Given the dictionary below, create a new list containing only the keys whose values are greater than 50.</p>
<code>scores = {'Alice': 82, 'Bob': 47, 'Charlie': 91, 'Diana': 50}</code>

<p>The next three problems use <code>hogwarts_emails</code> <font color ='red'>Do not use loops for these problems.</p>

In [ ]:
hogwarts_emails = [
    'weasley6@hogwarts.edu',
    'hpotter@gmail.com',
    'hgranger@gmail.com',
    'longbott@hogwarts.edu',
    'dmalfoy@hogwarts.edu',
    'dthomas@gmail.com',
    'ppatil@hogwarts.edu',
    'lunalovegood@quibbler.com'
]

7. Hogwarts staff want to use the first part of each email (i.e., the part before @) as a username. Make a list of these usernames.

8. Make a list of usernames of students with hogwarts email addresses, that is, emails end with hogwarts.edu.

9. Let's make a dictionary where the keys are the usernames and the values are email addresses. For example `'weasley6' : 'hogwarts.edu'`