<a href="https://colab.research.google.com/github/adong-hood/cs200/blob/main/assignment3_pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Pandas Introduction
Pandas is a Python library for efficient data manipulation and analysis, providing powerful data structures like Series and DataFrame for working with tabular data. It supports fast filtering, grouping, reshaping, and time-series operations, making it a core tool in data science and analytics.
API documentation: https://pandas.pydata.org/docs/api/

We start with some standard import:

In [2]:
import pandas as pd

## 1. The Pandas Series Object
<p>A Pandas Series is a one-dimensional array of indexed data. A Pandas Series can have an implicitly defined integer index used to access the values and an explicitly defined index associated with the values.</p>

### 1.1 Creating Series

In [ ]:
data_1 = pd.Series([0.25, 0.5, 0.75, 1.0])
print(data_1)
print(type(data_1))

lst_1 = [0.25, 0.5, 0.75, 1.0]
type(lst_1)

It can also be created from a dictionary as follows:

In [ ]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict, name = 'population')
population

### 1.2 Series indexing and selection

In [ ]:
#- default index
print(data_1.index)

 #- explicit index
data_2 = pd.Series([0.25, 0.5, 0.75, 1.0], name = 'value', index=['a', 'b', 'c', 'd'])
print(data_2)
print(data_2.index)

#-Reindex with new index values.
data_2.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
print(data_2.index)
print(data_2)

#- dict keys as index
print(population.index)

In [ ]:
# use this for demonstration
data = pd.Series([0.25, 0.5, 0.75, 1.0],  index=['a', 'b', 'c', 'd'], name = 'value')
data

# Access individual item by implicit index and explicit index
print(data.iloc[1])
print(data['b'])

# Slicing by explict index and implicit index
print(data['b':'d'])
print(data.iloc[1:4])

Fancy indexing: is conceptually simple: it means passing an array of indices to access multiple, non-contiguous array elements at once.

In [ ]:
# fancy indexing
print(data[['a', 'd']])

#### Masking concept
A mask is a Boolean array (True/False) used to filter data: when applied to an array, only elements with True are selected, while those with False are excluded.

In [ ]:
#- one mask
print((data > 0.3))

#- another mask
print((data < 0.8))

#- combine the masks
print((data > 0.3) & (data < 0.8))

#- apply boolean mask on original data
data[(data > 0.3) & (data < 0.8)]

## 2. The Pandas DataFrame Object

A DataFrame represents a tabular, spreadsheet-like data structure. The DataFrame has both a row and a column index.  You can think of a DataFrame as a sequence of aligned Series objects. Here, by "aligned" we mean that they share the same index.

### 2.1 Creating vai a single Series object
A DataFrame is a collection of Series objects, and a single-column DataFrame can be constructed from a single Series:

In [ ]:
states_1 = pd.DataFrame(population, columns=['population'])
print(states_1.index)
states_1

### 2.2 Creating via a dictionary of Series objects
A DataFrame can be constructed from a dictionary of Series objects as well:

In [ ]:
#- Series 1
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
# print(area)
#- Series 2
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
# print(population)

#- data frame from 2 series.
states_2 = pd.DataFrame({'population': population,
                       'area': area})
states_2

In [ ]:
states_3 = pd.DataFrame({'population': population_dict, 'area': area_dict})
states_3

### 2.2 Dataframe indexing and selection

The individual Series that make up the columns of the DataFrame can be accessed via dictionary-style indexing of the column name:

In [ ]:
# print(states_2.index)
# print(states_2.columns)
# print(states_2)

#- select a single column--> Series
new_var = states_2['area']
print(new_var)
print(type(new_var))

# Selecting multiple columns.
print(states_2[['population', 'area']])

# select rows
print(states_2['Texas':'Florida'])

# # adding a new column:
states_2['density'] = states_2['population'] / states_2['area']
print(states_2)

## 3.  Indexers: loc and iloc

<p>The loc attribute allows indexing and slicing that always references the explicit index. The iloc attribute allows indexing and slicing that always references the implicit Python-style index.</p>

In [ ]:
#- loc selection fo rows and columns
print(states_2.loc[['Texas', 'Florida'], ['population', 'area']])

#- iloc selection fo rows and columns
states_2.iloc[[1,4], [0,1]]

#- loc range, includes both start and end labels
print(states_2.loc['Texas':'Florida', :'area'])

#- iloc range, exclusive end
states_2.iloc[1:4, :2]


#loc indexer combines masking and fancy indexing as in the following:
states_2.loc[states_2.density > 100, ['population', 'density']]

## 4. Exploring the happiness and Movie data

The World Happiness Report is a landmark survey of the state of global happiness. <br>
Read in data as Pandas data frame and check basic information.

In [ ]:
happiness_df = pd.read_csv('http://pluto.hood.edu/~dong/datasets/happiness_2017.csv')
print(happiness_df.shape)  #- data size in (rows, columns)
print(happiness_df.columns) #- columns
happiness_df.head() #- show the first two rows.

(140, 14)
Index(['Country', 'Region', 'Rank', 'HappinessScore', 'Life Ladder',
       'Log GDP per capita', 'Social support',
       'Healthy life expectancy at birth', 'Freedom to make life choices',
       'Generosity', 'Perceptions of corruption', 'Positive affect',
       'Negative affect', 'Confidence in national government'],
      dtype='object')

,Country,Region,Rank,HappinessScore,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,Confidence in national government
0,Norway,Western Europe,1,7.537,7.578745,11.081789,0.950128,71.086586,0.953017,0.210104,0.249711,0.849100,0.202914,0.717160
1,Denmark,Western Europe,2,7.522,7.593702,10.748989,0.952100,71.662498,0.955416,0.145387,0.181148,0.823667,0.205775,0.572353
2,Iceland,Western Europe,3,7.504,7.476214,10.760409,0.966753,72.755981,0.938783,0.235479,0.726845,0.895255,0.148160,0.365042
3,Switzerland,Western Europe,4,7.494,7.473593,10.955548,0.949661,73.173759,0.924997,0.167875,0.316183,0.773997,0.195871,0.819707
4,Finland,Western Europe,5,7.469,7.788252,10.612338,0.963826,71.696960,0.962199,-0.012174,0.192413,0.787137,0.176066,0.597539

In [ ]:
happiness_df.describe()  # Generates summary statistics (count, mean, std, min, quartiles, max) for numeric columns
#happiness_df.info()      # Displays DataFrame structure: column names, non-null counts, data types, and memory usage

Check for missing value: Pandas interprets empty fields (and strings like NA, null, NaN) as missing by default.

```
isnull() (or its alias isna()) checks for missing values. Returns True where values are missing (NaN, None, NaT).
```

In [ ]:
# print(happiness_df.isnull().sum())        # Counts missing (NaN) values in each column
# print(happiness_df.isnull().sum().sum())  # Counts total missing (NaN) values across the entire DataFrame
print(happiness_df['Log GDP per capita'].isnull().sum()) #- count missing values in a specific column
happiness_df.loc[0, :].isnull().sum()  #- count missing values in a specific row.

7

np.int64(0)

By default, **dropna()** will drop all rows in which any null value is present. Alternatively, you can drop NA values along a different axis;** axis=1** drops all columns containing a null value.

The default is **how='any'**, such that any row or column (depending on the axis keyword) containing a null value will be dropped. You can also specify how='all', which will only drop rows/columns that are all null values.



```
dropna(axis=0)  # drop rows with missing values (default)
dropna(axis=1)  # drop columns with missing values
```

In [ ]:
happiness_df_dropna = pd.read_csv('http://pluto.hood.edu/~dong/datasets/happiness_2017.csv').dropna(axis=1, how='any')
print(happiness_df_dropna.shape)  #- 14 ==> 6
happiness_df_dropna.head(2)

### 4.1 What country has the highest happiness score?

In [ ]:
happiness_df[happiness_df['HappinessScore'] == happiness_df['HappinessScore'].max()]['Country'].iloc[0]

### 4.2 What countries from **North America and ANZ** region have happiness score higher than the average?

In [ ]:
print(happiness_df['Region'].unique())
happiness_df[(happiness_df['Region'] == 'North America and ANZ') & \
             (happiness_df['HappinessScore'] > happiness_df['HappinessScore'].mean())]['Country']

### 4.3 Find the first 10 countries with the highest **Life Ladder**.

In [ ]:
happiness_df.sort_values(by = 'Life Ladder', ascending= False)[['Country', 'Life Ladder']].head(10)

### 4.4 Look up happiness scores by country. (use Country for index).

In [ ]:
print(happiness_df.index)
lookup_by_country = happiness_df.set_index('Country').sort_index()
print(lookup_by_country.index)
lookup_by_country.head(2)
lookup_by_country.loc['Afghanistan']

### 4.5 Find the number of country names starting with B or C.

In [ ]:
# lookup_by_country.loc[:,'Country'] = lookup_by_country.index
# lookup_by_country.head(2)

#- the first country with name starting with B
first = lookup_by_country.loc[lookup_by_country.index.str.startswith("B")].index[0]

#- the last country with name starting with C
last = lookup_by_country.loc[lookup_by_country.index.str.startswith("C")].index[-1]

lookup_by_country.loc[first:last].shape[0]

###  4.6 How many movies have three votes?

In [ ]:
movie_df = pd.read_csv('http://pluto.hood.edu/~dong/datasets/movies_metadata.csv')
print(movie_df.shape)
print(movie_df.columns)
movie_df.head(1)

In [ ]:
# drop Unnamed: 23, 24, 25, 26
movie_df.drop(columns=['Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26'], inplace=True)
print(movie_df.shape)
movie_df.columns

### 4.6 What is 200th most popular movie?

### 4.7 (column arithmetic) Add a column **profit** to each movie using the difference between revenue and budget.

### 4.8 (Merge multiple data frames) Find the population for each country.

In [ ]:
world_countries_df = pd.read_csv('/content/drive/MyDrive/cs200/shared_cs200/world_countries.csv')

## 5. Practice

Refer to the first four sections of [Chapter 3](https://jakevdp.github.io/PythonDataScienceHandbook/03.00-introduction-to-pandas.html) of the Python Data Science Handbook. Please refer to the book sections for more explainations.

Use pokeman data for q1-q10.

In [ ]:
pokemon = pd.read_csv('http://pluto.hood.edu/~dong/datasets/pokemon.csv', encoding = "ISO-8859-1")
pokemon.head()

#### q1. Find out the size of this dataset (i.e., how many rows and how many columns)

#### q2. Find out the names of all columns (headers).

#### q3. Extract the Name, Total, and HP columns for rows 4 through 10, and store the result in a new DataFrame.

#### q4. What is the typical HP (hit points) for pokemon?

#### q5. What is the typical Body_Style for pokemon?

#### q6. Which Pokémon has the highest Speed value?

#### q7. List the names of the top 10 fastest Pokémon.

#### q8. Find the total number of Pokémon that have Fighting as either Type 1 or Type 2.

#### q9. Find the the number of pokemons with names that starts with a D.

#### q10.Which Pokémon are hard to catch (with a Catch Rate ≤ 45)? List the top 10.

Use the movie dataset for the questions below. **You may use 5.4. Filtering the Data** from the Runestone book to check your answers.

In [10]:
movie_df = pd.read_csv('http://pluto.hood.edu/~dong/datasets/movies_metadata.csv')
#movie_df.head(5)

#### q11. How many movies have a budget over 1 million dollars?

#### q12. What was the budget for **Dead Presidents**?

#### q13. How many movies with a budget of over a million dollars and whose title starts with an “A” or a “B” are there?

### q14. How many movies lasting 154 minutes are there?

### q15. What is the name of the 155th shortest movie in this collection?