<a href="https://colab.research.google.com/github/adong-hood/cs200/blob/main/ch9_1_9_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exploring Bike Rental Data with SQL

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

## Resources

https://docs.oracle.com/cd/B14099_19/bi.1012/b13915/i_rel_chapter.htm

https://www.w3schools.com/sql/sql_join.asp

## Getting Started (9.4)

In [ ]:
# load the SQL magic extension
# https://github.com/catherinedevlin/ipython-sql
#https://github.com/ploomber/jupysql
# this extension allows us to connect to DBs and issue SQL command
%pip install jupysql
%load_ext sql

In [ ]:
%pip install jupysql

In [ ]:
#Load sql extension.
%load_ext sql

In [ ]:
# now we can use the magic extension to connect to our SQLite DB
# use %sql to write an inline SQL command
# use %%sql to write SQL commands in a cell

# Connect to bikeshare.db. This is a sqlite database.
%sql sqlite:////content/drive/MyDrive/cs200/datasets/bikeshare_11_12.db

In [ ]:
# check out tables and their meta information.
%%sql
select * from sqlite_master;

In [ ]:
# Display the first 5 rows in the bikeshare_stations table. * means show all pieces.
%%sql
select * from bikeshare_stations limit 5;

In [ ]:
%%sql
select *
from trip_data
limit 5;

## Filtering data (9.5)

 ### Example 1. we could want to look only at the bike trips of 60 minutes or more.

In [ ]:
%%sql
SELECT member_type, start_date, duration
FROM   trip_data
WHERE  duration >= 3600
LIMIT  5

### Example 2: look at only bike trips which are 60 minutes or more and only the subscriber type of Member.

In [ ]:
%%sql
SELECT  member_type, start_date, duration
FROM   trip_data
WHERE  duration >= 3600 AND  member_type = "Member"
LIMIT 5

### **9.5.1. Practice Exercises (3 problems)**

## Sorting (9.6)

### Example 3. Show the bike trips in the order of the duration in seconds

In [ ]:
%%sql
SELECT  member_type, start_date, duration
FROM  trip_data
ORDER BY  member_type, duration DESC
LIMIT  5

### Example 4. Display only the bike trips from Member type of Casual in the order of the duration.

In [ ]:
%%sql
SELECT member_type, start_date, duration
FROM   trip_data
WHERE   member_type = "Casual"
ORDER BY   duration
LIMIT 5

### **9.6.1. Practice Exercises** (3 problems)

## Aggregation or Group By (9.7)

### Example 5. how many bike trips were taken for each subscriber type, and which subscriber type has the most bike trips.

In [ ]:
%%sql
SELECT   member_type, count(*) as numoftrips
FROM   trip_data
GROUP BY  member_type
order by numoftrips

### Example 6. how many bike trips were taken by each subscriber type at each start station?

In [ ]:
%%sql
SELECT  member_type, start_station, count(*)
FROM  trip_data
GROUP BY  member_type, start_station
ORDER BY  COUNT(*) DESC

### Example 7. Compute the total number of minutes of all bike trips for each subscriber type.

In [ ]:
%%sql
SELECT  member_type, SUM(duration)
FROM  trip_data
GROUP BY  member_type
LIMIT 5

### 9.7.1. Practice Exercises (4 problems)

## Joining (9.8)

### Example 8. Find out which open bike station has the highest bike trip counts (so we can ensure there is always plenty of bikes available).

In [ ]:
%%sql
SELECT  station_id, name, COUNT(*) AS trip_count
FROM  trip_data join bikeshare_stations ON  start_station = station_id
WHERE  duration >= 3600  AND status = 'open'
GROUP BY  station_id
ORDER BY  trip_count DESC
LIMIT 1

### 9.8.1. Practice Exercises (5 problems)